@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@font-face {
    font-family: 'outlineFont';
    src: url(./assets/fonts/ostrich-sans/OstrichSans-Medium.otf);
    font-weight: normal;
    font-style: normal;
}

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.otherFont{
    font-family: 'outlineFont', sans-serif;
}



body.bg-light{
  background-color: white;

}

body.bg-dark{
  background-color: rgb(38, 33, 34);
}

.noisy-back{
  filter: url(#noiseFilter);
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}



.no-scrollbar::-webkit-scrollbar{
  display: none;
}

::-webkit-scrollbar{
  display: none;
}

*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}



/* Mouse Animation */


.mouse-animation{
  animation: mouse 1.5s ease-in-out infinite;
}

@keyframes mouse {
  0%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(40px);
  }
}